
//------------------- Colours -------------------//
$white: #fff;
$black: #000;
$purple: #7482a8;
$grey: #2a2a2a; 
$light-grey: #4c4c4c;
$dark-purple: #3b1256;
$red: #ad0102;
$orange: #fa661d;
$yellow: #ffcc00;

//-----------------------------------------------//