
//------------------- Colours -------------------//
$white: #fff;
$black: #000;
$purple: #7482a8;
$grey: #2a2a2a; 
$light-grey: #4c4c4c;
$dark-purple: #431766;
$red: #9C27B0;
$orange: #1976D2;
$yellow: #00BFA5;

//-----------------------------------------------//