.contact {
	margin: 80px 0;
	&-form {
		width: (100%/3)*2;
		float: left;
		padding-right: 60px;
		input {
			border: none;
			border-bottom: 1px solid $dark-purple;
			width: 100%;
			margin: 20px 0;
			font-family: 'Champagne';
			color: $dark-purple;
			font-size: 30px;
			text-transform: uppercase;
			padding: 0px 0 5px 10px;
			&.wpcf7-submit {
				width: 45% !important;
				border: none;
				background-color: $purple;
				margin-top: 40px;
				padding: 15px;
				color: $white;
				transition: background-color 1000ms ease-in-out;
				&:hover {
					background-color: $dark-purple;
				}
			}
		}
		textarea {
			border: 1px solid $dark-purple;
			width: 100%;
			resize: none;
			font-size: 30px;
			text-transform: uppercase;
			font-weight: 100;
			font-family: 'Champagne';
			padding: 10px 0 0 10px;
			margin-top: 40px;
		}
		textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    		border-color: $purple;
    		box-shadow: 0 1px 1px $purple inset, 0 0 8px $purple;
   			outline: 0 none;
		}
		textarea::-webkit-input-placeholder {  
			color: $purple;
		}
		input::-webkit-input-placeholder {  color: $purple;}
	}
	&-text {
		width: (100%/3);
		float: right;
		text-align: center;
		margin-top: 20px;
		color: $grey;
		h3 {
			font-size: 30px;
			margin-bottom: 40px;
			text-transform: uppercase;
		}
	}
}
.ajax-loader {
	display: none;
}


@media only screen and (max-width:768px){
	.contact {
		&-text {
			width: 100%;
			font-size: 24px;
			padding: 0 40px;
		}
		&-form {
			width: 100%;
			padding: 0 40px;
			margin-top: 40px;
		}
	}
}