@font-face {
 font-family: 'Champagne';
 src:  url('../fonts/Champagne_Limousines.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Champagne_Limousines.otf')  format('opentype'),
       url('../fonts/Champagne_Limousines.woff') format('woff'),
       url('../fonts/Champagne_Limousines.ttf')  format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Champagne-bold';
 src:  url('../fonts/Champagne___Limousines_Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Champagne___Limousines_Bold.otf')  format('opentype'),
       url('../fonts/Champagne___Limousines_Bold.woff') format('woff'),
       url('../fonts/Champagne___Limousines_Bold.ttf')  format('truetype');
 font-weight: normal;
 font-style: normal;
}



