.top-bar {
	background-color: $purple;
	height: 40px;
	width: 100%;
	color: $white;
	font-size: 14px;
	padding-top: 10px;
	img {
		height: 20px;
		width: 20px;
		float: left;
		vertical-align: middle;
		margin-right: 10px;
	}
	&-contact {
		float: left;
		p {
			float: left;
			margin: 0;
			margin-top: -2px;
		}
		a {
			margin-right: 30px;
			color: $white;
			&:hover {
				color: rgba(255,255,255,0.6);
			}
		}
	}
	.social-icons {
		float: right;
		li {
			float: left;
			margin: 0 0 0 10px;
			img {
				margin: 0;
			}
		}
	}
}

.hero { 
	height: 700px;
	width: 100%;
	&-image {
		position: absolute;
		top: 0;
		left: 0;
		max-height: 850px;
	}
	.logo {
		float: left;
	}
	&-text {
		position: absolute;
		width: 100%;
		left: 0;
		top: 250px;
		height: 400px;
		text-align: center;
	}
	h2 {
		color: $white;
		font-size: 60px;
		text-transform: uppercase;
		line-height: 80px;
		padding: 0 60px;
		text-shadow: 1px 1px 1px #666;
		font-family: 'Champagne-bold';
		margin-bottom: 70px;
	}
}
nav {
	float: right;
	padding-top: 30px;
	font-size: 24px;
	text-transform: uppercase;
	a {
		color: $white;
		display: block;
		&:hover {
			color: rgba(255,255,255,0.6);
		}
	}
	li {
		float: left;
		margin-left: 20px;
		padding-bottom: 10px;
	}
	.current_page_item {
		border-bottom: solid 1px rgba(255,255,255,0.6);
	}
	.social-icons {
		&.mobile {
			display: none;
			position: absolute;
  			bottom: 30px;
  			left: 50%;
  			margin-left: -95px;
  			li {
  				margin-left: 30px;
  			}
		}
		img {
			height: 20px;
			width: 20px;
		}
	}
}

@media only screen and (max-width:920px){
	.hero {
		h2 {
			font-size: 45px;
			line-height: 60px;
		}
	}

}

@media only screen and (max-width:768px){
	.top-bar {
		display: none;
	}
	nav {
		width: 100%;
		position: absolute;
  		top: 0px;
  		left: 0;
  		padding-top: 0;
		.menu {
			text-align: center;
			ul {
				display: none;
				width: 100%;
				background-color: $grey;
				padding: 40px 40px 100px;
				li {
					float: none;
					margin-top: 20px;
					margin-left: 0;
					width: 100%;
					padding: 0 0 20px 0;
					border-bottom: 1px solid rgba(255,255,255,0.5);
				}
			}
		}
	}
	.hero {
		height: 500px;
		&-text {
			top: 150px;
		}
		h2 {
			margin-bottom: 40px;
		}
	}

}

@media only screen and (max-width:550px){
	
	.logo {
		font-size: 30px;
	}
	.hero {
		height: 300px;
		h2 {
			font-size: 30px;
  			line-height: 40px;
  			margin-bottom: 20px;
		}
		&-text {
			top: 90px;
		}
	}
}


