.features {
	margin-top: 80px;
	&-feature {
		text-align: center;
		width: (100%/3);
		float: left;
		margin-bottom: 80px;
		padding: 0 20px;
		min-height: 300px;
		&-image {
			height: 100px;
			width: 100px;
			display: inline-block;
			margin-bottom: 20px;
		}
		&-title {
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 20px;
		}
		&-text {
			margin-bottom: 40px;
		}
		&-link {
			color: $white;
			background-color: $purple;
			transition: background-color 1000ms linear;
			padding: 10px;
			&:hover {
				background-color: $dark-purple;
			}
		}
	}
}

.large-features{
	&-feature {
		width: 100%;
		height: auto;
		color: $white;
		&:nth-child(odd) {
			background-color: $grey;
		}
		&:nth-child(even) {
			background-color: $purple;
			.large-features-feature-image {
				float: right;
			}
			.large-features-feature-text {
				padding-left: 0;
				padding-right: 80px;
			}
		}
		&-image {
			width: (100%/3);
			height: (100%/3);
			float: left;
			margin: 80px 0;
			padding: 20px;
		}
		&-text {
			padding: 100px 0 0 80px;
			width: (100%/3)*2;
			float: left;
			p {
				font-size: 24px;
				line-height: 30px;
			}
			h3 {
				font-size: 36px;
				text-transform: uppercase;
				margin-bottom: 40px;
			}

		}
	}

}


@media only screen and (max-width:768px){

	.features-feature {
		&-image {
			height: 80px;
			width: 80px;
		}
		&-title {
			font-size: 20px;
		}
	}
	.large-features-feature {
		&-image {
			width: 25%;
		}
		&-text {
			width: 75%;
			padding: 60px 0 40px 60px;
			p {
				font-size: 18px;
				line-height: 22px;
			}
			h3 {
				font-size: 30px;
				margin-bottom: 30px;
			}
		}
		&:nth-child(even) {
			.large-features-feature-text {
				padding-right: 60px;
				padding-left: 10px;
			}
		}
	}
}