.features {
	margin-top: 80px;
	&-feature {
		text-align: center;
		width: (100%/3);
		float: left;
		margin-bottom: 80px;
		padding: 0 20px;
		min-height: 300px;
		&-image {
			height: 100px;
			width: 100px;
			display: inline-block;
			margin-bottom: 20px;
		}
		&-title {
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 20px;
		}
		&-text {
			margin-bottom: 40px;
		}
		&-link {
			color: $white;
			background-color: $purple;
			transition: background-color 1000ms linear;
			padding: 10px;
			&:hover {
				background-color: $dark-purple;
			}
		}
	}
}

.large-features{
	&-feature {
		width: 100%;
		height: auto;
		color: $white;
		&:nth-child(odd) {
			background-color: $grey;
		}
		&:nth-child(even) {
			background-color: $purple;
			.large-features-feature-image {
				float: right;
			}
			.large-features-feature-text {
				padding-left: 0;
				padding-right: 80px;
			}
		}
		&-image {
			width: (100%/3);
			height: (100%/3);
			float: left;
			margin: 80px 0;
			padding: 20px;
		}
		&-text {
			padding: 100px 0 0 80px;
			width: (100%/3)*2;
			float: left;
			margin-bottom: 100px;
			p {
				font-size: 24px;
				line-height: 30px;
			}
			h3 {
				font-size: 36px;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			.hr {
				width: 160px;
				height: 1px;
				background-color: rgba(255,255,255,0.6);
				margin: 30px 0 20px 0;
			}
		}
	}
}

.pricing {
	background-color: $grey;
	color: $white;
	text-align: center;
	padding-bottom: 80px;
	h3 {
		text-align: center;
		font-size: 36px;
		padding: 80px 0;
	}
	&-package {
		width: (100%/3);
		float: left;
		padding: 0 20px;
		&-title {
			text-transform: uppercase;
			background-color: $dark-purple;
			padding: 20px 0;
			font-size: 24px;
		}
		&-price {
			background-color: $purple;
			font-size: 48px;
			padding: 20px 0 25px 0;
			span {
				vertical-align: super;
				font-size: 20px; 
			}
		}
		&-list {
			background-color: $white;
			padding: 20px 0;
			color: $grey;
			li {
				padding: 10px 0;
				font-size: 18px;
				text-transform: uppercase;
			}
			.pricing-package-button {
				padding: 10px;
	    		border-radius: 3px;
	    		border: 1px solid $grey ;
	    		margin: 25px auto 20px auto;
	    		display: inline-block;
	    		color: $grey;
	    		font-size: 24px;
	    		text-transform: uppercase;
			    &:hover {
			        color: rgba(0,0,0,0.6);
			    }
			}
		}
	}
}

.ajax-loader {
	display: none;
}

.contact {
	margin: 80px 0;
	&-form {
		width: (100%/3)*2;
		float: left;
		padding-right: 60px;
		input {
			border: none;
			border-bottom: 1px solid $dark-purple;
			width: 100%;
			margin: 20px 0;
			font-family: 'Champagne';
			color: $dark-purple;
			font-size: 30px;
			text-transform: uppercase;
			padding: 0px 0 5px 10px;
			&.wpcf7-submit {
				width: 45% !important;
				border: 1px solid $dark-purple;
				background-color: $white;
				margin-top: 40px;
				&:hover {
					color: $purple;
				}
			}
		}
		textarea {
			border: 1px solid $dark-purple;
			width: 100%;
			resize: none;
			font-size: 30px;
			text-transform: uppercase;
			font-weight: 100;
			font-family: 'Champagne';
			padding: 10px 0 0 10px;
			margin-top: 40px;
		}
		textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    		border-color: $purple;
    		box-shadow: 0 1px 1px $purple inset, 0 0 8px $purple;
   			outline: 0 none;
		}
		textarea::-webkit-input-placeholder {  
			color: $purple;
		}
		input::-webkit-input-placeholder {  color: $purple;}
	}
	&-text {
		width: (100%/3);
		float: right;
		text-align: center;
		margin-top: 20px;
		color: $dark-purple;
		h3 {
			font-size: 30px;
			margin-bottom: 40px;
			text-transform: uppercase;
		}
	}
}


@media only screen and (max-width:768px){

	.features-feature {
		width: 50%;
		&-image {
			height: 80px;
			width: 80px;
		}
		&-title {
			font-size: 20px;
		}
	}
	.large-features-feature {
		&-image {
			width: 25%;
			margin-top: 40px;
		}
		&-text {
			width: 75%;
			padding: 60px 0 40px 60px;
			margin-bottom: 30px;
			p {
				font-size: 18px;
				line-height: 22px;
			}
			h3 {
				font-size: 30px;
				margin-bottom: 30px;
				line-height: 35px;
			}
			.hr {
				margin: 30px 0 30px 0;
			}
		}
		&:nth-child(even) {
			.large-features-feature-text {
				padding-right: 60px;
				padding-left: 10px;
			}
		}
	}
	.contact {
		&-text {
			width: 100%;
			font-size: 24px;
			padding: 0 40px;
		}
		&-form {
			width: 100%;
			padding: 0 40px;
			margin-top: 40px;
		}
	}
	.pricing-package {
		padding: 0 10px;
	}
}

@media only screen and (max-width:550px){

	.features-feature {
		width: 100%;
		margin-bottom: 0;
		.hr {
			width: 80px;
			height: 1px;
			background-color: rgba(0,0,0,0.6);
			margin: 60px auto 60px auto;
		}
	}
	.large-features-feature {
		text-align: center;
		&-image {
			display: none;
		}
		&-text {
			width: 100%;
			padding: 40px 10px;
			h3 {
				font-size: 26px;
			}
			p {
				font-size: 16px;
			}
			.hr {
				width: 80px;
				height: 1px;
				background-color: rgba(255,255,255,0.6);
				margin: 0 auto 30px auto;
			}
		}
		&:nth-child(even) {
			.large-features-feature-text {
				padding-right: 10px;
				padding-left: 10px;
			}
		}
	}
}



@media only screen and (max-width:620px){
	.pricing-package {
		width: 100%;
		margin: 20px 0;
	}
}


